/* Importando fonte Inter */
body {
    font-family: 'Inter', sans-serif;
    background-color: #111827; /* Garante fundo escuro se o conteudo for curto */
    color: #f3f4f6;
    margin: 0;
    padding: 0;
}

/* Remove a barra de rolagem horizontal indesejada */
html, body {
    overflow-x: hidden; 
    max-width: 100%;
}

/* Custom Scrollbar (Opcional - Estilo Dark) */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #1f2937; 
}
::-webkit-scrollbar-thumb {
    background: #4b5563; 
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #6b7280; 
}